<div class="d-flex">
  <div id="profile-container">
    <%= simple_form_for @user, url: user_registration_path do |f| %>
      <div class="row-2">
        <div class="photo-bloc">
          <div class="d-flex flex-column align-items-center text-center ml-5">
              <% if current_user.photo.attached? %>
                <%= cl_image_tag current_user.photo.key, class: "avatar-profile-page" %>
              <% else %>
                <%= image_tag 'logo.jpg', class: "avatar-profile-page" %>
              <% end %>
            <span class=""id='name-user'></span>
            <span class="" id='email-user'></span>
            <%= f.input :photo, as: :file, class:"btn btn-outline-dark detail" %>
            <span></span>
          </div>
        </div>
          <div class="border-right">
            <div class=>
              <div class="d-flex justify-content-between align-items-center">
                <h4 class="text-right">My informations</h4>
              </div>
              <div class="row-2">
                <div class="col">
                  <%= f.input :first_name, label: "First name", placeholder: 'Melanie', value: @user.first_name %>
                </div>
                <div class="col">
                  <%= f.input :last_name, label: "Last name", placeholder: 'Couronne', value: @user.last_name %>
                </div>
              </div>
              <div class="row-2">
                <div class="col">
                  <%= f.input :email, label: "Email", placeholder: 'My email', value: @user.email %>
                </div>
              </div>
            </div>
          </div>
          <div class="">
              <h4 class="text-left">Password</h4>

              <div class="row-2">
                <div class="col">
                  <div class="form-group">
                      <%= f.input :current_password, label: "Current password", placeholder: '••••••', value: @user.password %>
                  </div>
                </div>
              </div>
              <div class="row-2">
                <div class="col">
                  <div class="form-group">
                      <%= f.input :password, label: "New password", placeholder: '••••••', value: @user.password %>
                  </div>
                </div>
              </div>
              <div class="row-2">
                <div class="col">
                  <div class="form-group">
                      <%= f.input :password_confirmation, label: "Confirmation", placeholder: '••••••', value: @user.password %>
                  </div>
                </div>
              </div>
              <%= f.button :submit, 'Submit',class: "btn btn-outline-dark detail", id: "btn-profile" %>
          </div>
      </div>
    <% end %>
  </div>
  <div class="" id="profile-container">
    <div class="col-md-4">
      <h4 class="text-right">Your reservations</h4>
        <%= render 'shared/reminder', reservations: @current_user.reservations %>
      <h4 class="text-left">Your rides</h4>
    </div>
  </div>
</div>
