  <div class="reminder-container">
    <div class="reminder-informations">
      <div class="informations-text">
        <h5><%= ride.pickup_location %></h5>
        <p class="card-title m-0"><%= ride.pickup_datetime.strftime("%a") %>. <%= ride.pickup_datetime.strftime("%m") %>/<%= ride.pickup_datetime.strftime("%y") %></p>
        <h5><%= ride.checkout_location %></h5>
      </div>
      <div class="informations-variables">
        <h5><%= ride.rental_rate %> €</h5>
        <h6><%= ride.passengers %> Passengers</h6>
      </div>
    </div>
    <div class="reminder-footer">
      <div class="reminder-user">
        <p class="card-title m-0">Your passengers:</p>
        <div class="">
          <% ride.reservations.each do |reservation| %>
            <p><%= reservation.user.first_name %></p>
          <% end %>
          <% if ride.user.photo.attached? %>
            <%= cl_image_tag ride.user.photo.key, class: "avatar", height: 50, width: 50, crop: :fill %>
          <% else %>
            <%= image_tag "logo.jpg", class: "avatar", height: 50, width: 50, crop: :fill %>
          <% end %>
        </div>
      </div>
      <%= link_to(ride_path(ride),
        method: :delete, remote: true,
        data: { confirm: "Do you want to delete this ride?" } ) do %>
          <button type="button" class="btn btn-outline-dark detail" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Delete
          </button>
        <% end %>
    </div>
  </div>
