<div class="reminder-container">
  <div class="reminder-informations">
    <div class="informations-text">
      <h5><%= reservation.ride.pickup_location %></h5>
      <p class="card-title m-0"><%= reservation.ride.pickup_datetime.strftime("%a") %>. <%= reservation.ride.pickup_datetime.strftime("%m") %>/<%= reservation.ride.pickup_datetime.strftime("%y") %></p>
      <h5><%= reservation.ride.checkout_location %></h5>
    </div>
    <div class="informations-variables">
    <h5><%= reservation.ride.rental_rate %> €</h5>
    <h6><%= reservation.ride.passengers %> Passengers</h6>
    </div>
  </div>
  <div class="reminder-footer">
    <div class="reminder-user">
      <% if reservation.ride.user.photo.attached? %>
        <%= cl_image_tag ride.user.photo.key, class: "avatar", height: 50, width: 50, crop: :fill %>
      <% else %>
        <%= image_tag "logo.jpg", class: "avatar", height: 50, width: 50, crop: :fill %>
      <% end %>
      <div class="">
        <p class="card-title m-0">with <%= reservation.ride.user.first_name %></p>
        <p><i class="fas fa-star"></i> 4.6<%#= user.rating %></p>
      </div>
  </div>
    <%= link_to(
      reservation_path(reservation),
      method: :delete, remote: true,
      class: "btn btn-outline-dark detail",
      data: { confirm: "Do you want to cancel this reservation?" }
      ) do %>
        <i class="fas fa-trash card-trash">Cancel</i>
      <% end %>
  </div>
</div>
